.navbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2.5rem;
    font-family: 'East Sea Dokdo', cursive;
    
    
    li{
      padding-left: 1rem;

      a {
          text-decoration: none;
          color: white;

          &:hover{
            color: red;
        }
      }

     
    }
}